.d-none{
    display:none !important;
}
.auth-cover-wrapper .auth-cover-content-inner {
    float: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
}
.auth-cover-wrapper .auth-cover-sidebar-inner {
    float: inline-end;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 550px;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.auth-cover-wrapper .auth-cover-content-inner .auth-cover-content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    padding: 0;
}
.auth-cover-content-wrapper {
    background-image: url('../../../image/bg.jpg');
    /*background-image: url('../../../image/bg.webp');*/
    background-size: cover;
}

body {
    color: #000 !important;
    font-size: 17px !important;
}

.nxl-navigation .m-header {
    justify-content: center;
}

.m-header .logo img {
    width: 65px;
    display: block;
    margin: 0 auto;
}

.edit-icon {
    color: #3454d1;
}

.delete-icon {
    color: #ea4d4d;
}

.btn.btn-sm i, button.btn-sm i {
    font-size: 16px !important;
}

.togglepassword {
    width: 10%;
    float: left;
    border-radius: 0;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    max-height: 50px;
    height: 50px;
    padding: 15px !important;
    font-size: 13px;
}

.password {
    width: 90%;
    float: right;
}

.user-avtar {
    width: 40px;
    height: 40px;
}

.profile-image {
    width: 150px;
    height: 150px;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #3454d1;
    position: relative;
}

.uploadProfileInput {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.drag-text {
    text-align: center;
    padding: 20px 0px;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
}

.fa-camera {
    font-size: 20px
}

.inner-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

body.modal-open .nxl-container, body.modal-open .nxl-header, body.modal-open .nxl-navigation, body.modal-open .page-header {
    filter: none !important;
    transition: all .2s linear;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: all .2s linear;
}

.customers-nav-tabs .nav-item .nav-link {
    color: #000 !important;
}

.customers-nav-tabs .nav-item .nav-link.active {
    color: #0b3e21 !important;
    border-bottom: 3px solid #0b3e21 !important;
    background-color: rgba(52, 84, 209, .075);
    transition: all .3s ease;
}

.customers-nav-tabs .nav-item .nav-link.active {
    color: #fff !important;
    border-bottom: 3px solid #134C33 !important;
    background-color: rgba(19, 76, 51, .75) !important;
    transition: all .3s ease !important;
}

.tab-pane .card {
    border-radius: 20px;
}

.tab-pane .card .card-header {
    background-color: #31585F;
    border-radius: 20px 20px 0px 0px;
    
}

.tab-pane .card .card-header .card-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

#analysisTab .dataTables_wrapper .row:first-child, #analysisTab .dataTables_wrapper .row:last-child {
    display: none;
}

.table-responsive .table tfoot th, .table-responsive .table thead th {
    font-size: 17px;
}

.card {
    border: 1px solid #ddd;
}

/*.card .card .card, #dashboardTab .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}*/

.auc-result-table .card-body {
    height: 440px;
    overflow-y: auto;
}

.auc-result-table .card-body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 15px;
}

.auc-result-table .card-body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 15px;
}

.auc-result-table .card-body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 15px;
}

.table-responsive .table {
    color: #000 !important;
}

.breakdown-row {
    display: none;
    background-color: #eeeeee;
}

table tbody tr td {
    font-size: 17px;
    color: #000;
}

table tbody tr td:first-child {
    font-size: 17px;
    font-weight: bold;
    color: #000;
}

.table-responsive .table tfoot th, .table-responsive .table thead th {
    color: #000 !important;
    font-size: 17px !important;
    text-transform: capitalize !important;
}
/*.table-responsive .table.table-hover > tbody > tr:hover > *, .table-responsive .table.table-striped > tbody > tr:nth-of-type(even) > * {
    background-color: #eee !important;
    --bs-table-accent-bg: #eee !important;
}

.table-responsive .table.table-hover > tbody > tr:hover > *, .table-responsive .table.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: rgb(255,255,255) !important;
    --bs-table-accent-bg: rgb(255,255,255) !important;
}*/
tr:nth-child(odd) {
    background-color: #fff !important;
}

tr:nth-child(even) {
    background-color: #eee !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: transparent;
    border-style: solid;
    border-width: 0;
}

#DivFixedRentalIjaratbody1 td {
    font-size: 17px !important;
    font-weight: 400 !important;
    color: #000;
}
.w-50{
    width:50%;
}
.timerdiv {
    border-radius: 40px !important;
    background-color: red !important;
    width: 130px;
    height :80px;
}
.timerbell {
    font-size: 25px;
    color: black;
    font-weight: bolder;
}
.timerfont {
    font-weight: bolder;
    color: black;
}